# Day Objectives

# Python Tuples
1. Tuples
2. Dictionaries
3. Idiomatic Programming in Python
4.

In [1]:
t1=(1000,'name',72,90)

In [5]:
t2=(110,121,132,143)
print(str(t2[0])[1],str(t2[1])[1],str(t2[2])[1])#accessing all the second digits from all the elements

1 2 3

In [6]:
#Funcion to calculate the Average of all elements
def averageTuple(t):
    sum=0
    for i in range(0,len(t)):
        sum+=t[i]
    return sum/len(t)
averageTuple(t2)

126.5

In [22]:
#Function to search an index in a linear data structure
def searchLinearDS(ds,key):
    i=0
    for i in range(0,len(ds)):
        if ds[i]==key:
            print(i)
    
searchLinearDS(t2,110)

0

# Iterable Objects

In [23]:
s="python"
for c in s:
    print(c)

p
y
t
h
o
n

In [24]:
#Func,tion to identify the maximum element in a tuple)
max(4,25,1,68)

68

In [26]:
def maxElementDS(ds):
    m=0
    for item in ds:
        if item>m:
            m=item
    return m
maxElementDS(t2)

143

# Dictionaries

In [32]:
d1={'name1':125,'name2':588}
d1['name1']
print(d1)
d1.keys()#all keys in a dictonary are unique
d1.values()#values can repeat

{'name1': 125, 'name2': 588}

dict_values([125, 588])

In [34]:
d1['name3']=4569
d1

{'name1': 125, 'name2': 588, 'name3': 4569}

In [45]:
d1.pop('name2')#removing an item from dictionary
d1

KeyError: 'name2'

In [46]:
d1

{'name1': 125}

In [47]:
d1['name4']=15

In [48]:
d1

{'name1': 125, 'name4': 15}

In [49]:
d1['n5']=1654

In [50]:
d1

{'name1': 125, 'name4': 15, 'n5': 1654}

In [51]:
d1.pop['name4']

TypeError: 'builtin_function_or_method' object is not subscriptable

In [62]:
#contacts application
#Display, Add, Modify and Delete Contacts
contacts={}
def addContact(d, name, phone):
    d[name]=phone
    return
addContact(contacts, 'name1', 3919841)
def displayContacts(contacts):
    for name, phone in contacts.items():
        print(name, ":",phone)
    return
def modifyContacts(contacts,name, newphone):
    contacts[name]=newphone
    return
def deleteContacts(contacts, name):
    contacts.pop(name)
    return

In [63]:
addContact(contacts,'name2',641)
addContact(contacts,'name1',2154)

In [64]:
displayContacts(contacts)

name1 : 2154
name2 : 641

In [65]:
li2 = [1,2,3,26]
li2=reversed(li2)
for i in li2:
    print(i)

26
3
2
1

In [74]:
lis=[1,8,25]
for i,value in enumerate(lis):
    print(i,':', value)

0 : 1
1 : 8
2 : 25

In [75]:
lis1=[25,12,56]

In [77]:
lis
lis1
for i,j in zip(lis,lis1):
    print(i,j)

zip(lis,lis1)

1 25
8 12
25 56

In [78]:
lis3=[4,5,8,9]
lis1
lis3
for i,j in zip(lis1,lis3):
    print(i,j)

25 4
12 5
56 8